/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/.idea
/.gitattributes
/app/etc/config.php
/app/etc/env.php

/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
.DS_Store

#Temporarery solution as we don't want this files on CI
composer.json
composer.lock
/app/bootstrap.php
/app/autoload.php
/app/etc/storefront_search/di.xml
auth.json
