<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="search-init" xsi:type="object">Magento\SearchStorefrontConfig\Console\Command\Config</item>
            </argument>
        </arguments>
    </type>
    <!-- configure config reader -->
    <type name="Magento\Framework\App\Config">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="system" xsi:type="object">Magento\SearchStorefrontConfig\App\Config\Type\System</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="fileLockConfig" type="Magento\Framework\Lock\Backend\FileLock">
        <arguments>
            <argument name="path" xsi:type="string">/var/</argument>
        </arguments>
    </virtualType>
    <virtualType name="systemConfigQueryLocker" type="Magento\Framework\Cache\LockGuardedCacheLoader">
        <arguments>
            <argument name="locker" xsi:type="object">fileLockConfig</argument>
        </arguments>
    </virtualType>

    <type name="Magento\SearchStorefrontConfig\App\Config\Type\System">
        <arguments>
            <argument name="source" xsi:type="object">systemConfigSourceAggregatedProxy</argument>
            <argument name="postProcessor" xsi:type="object">Magento\Framework\App\Config\PostProcessorComposite</argument>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Config</argument>
            <argument name="preProcessor" xsi:type="object">Magento\Framework\App\Config\PreProcessorComposite</argument>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Serialize</argument>
            <argument name="reader" xsi:type="object">Magento\SearchStorefrontConfig\App\Config\Type\System\Reader\Proxy</argument>
            <argument name="lockQuery" xsi:type="object">systemConfigQueryLocker</argument>
        </arguments>
    </type>

    <virtualType name="systemConfigInitialDataProvider" type="Magento\Framework\App\Config\InitialConfigSource">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Framework\App\DeploymentConfig\Reader</argument>
            <argument name="configType" xsi:type="const">Magento\SearchStorefrontConfig\App\Config\Type\System::CONFIG_TYPE
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="systemConfigSourceAggregated" type="Magento\Framework\App\Config\ConfigSourceAggregated">
        <arguments>
            <argument name="sources" xsi:type="array">
                <item name="modular" xsi:type="array">
                    <item name="source" xsi:type="object">Magento\SearchStorefrontConfig\App\Config\Source\ModularConfigSource</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
                <item name="dynamic" xsi:type="array">
                    <item name="source" xsi:type="object">Magento\SearchStorefrontConfig\App\Config\Source\RuntimeConfigSource</item>
                    <item name="sortOrder" xsi:type="string">100</item>
                </item>
                <item name="initial" xsi:type="array">
                    <item name="source" xsi:type="object">systemConfigInitialDataProvider</item>
                    <item name="sortOrder" xsi:type="string">1000</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="systemConfigSourceAggregatedProxy" type="Magento\Framework\App\Config\ConfigSourceAggregated\Proxy">
        <arguments>
            <argument name="instanceName" xsi:type="string">systemConfigSourceAggregated</argument>
        </arguments>
    </virtualType>

    <type name="Magento\SearchStorefrontConfig\App\Config\Type\System\Reader">
        <arguments>
            <argument name="source" xsi:type="object">systemConfigSourceAggregated</argument>
            <argument name="postProcessor" xsi:type="object">Magento\Framework\App\Config\PostProcessorComposite</argument>
            <argument name="preProcessor" xsi:type="object">Magento\Framework\App\Config\PreProcessorComposite</argument>
        </arguments>
    </type>
        <type name="Magento\Framework\App\Config\MetadataConfigTypeProcessor">
        <arguments>
            <argument name="configSource" xsi:type="object">Magento\SearchStorefrontConfig\App\Config\Source\EnvironmentConfigSource</argument>
        </arguments>
    </type>
</config>
