<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- server & api -->
    <preference for="Magento\SearchStorefrontApi\Api\SearchInterface" type="Magento\SearchStorefrontApi\Api\InMemorySearch"/>
    <preference for="Magento\SearchStorefrontApi\Api\SearchServerInterface" type="Magento\SearchStorefront\Model\SearchService"/>

    <!-- Logger -->
    <virtualType name="SearchStorefrontLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="error" xsi:type="object">\Magento\SearchStorefront\Model\Logging\Error</item>
                <item name="debug" xsi:type="object">Magento\SearchStorefront\Model\Logging\Debug</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Set path to active search engine -->
    <type name="Magento\SearchStorefrontSearch\Model\EngineResolver">
        <arguments>
            <argument name="path" xsi:type="string">search/engine</argument>
            <argument name="scopeType" xsi:type="string">default</argument>
            <argument name="logger" xsi:type="object">SearchStorefrontLogger</argument>
        </arguments>
    </type>

    <type name="Magento\SearchStorefront\DataProvider\AttributeQuery">
        <arguments>
            <argument name="metadataPool" xsi:type="object">Stub\MetadataPool</argument>
        </arguments>
    </type>
    <type name="Magento\SearchStorefront\Model\Filter\Price\Range">
        <arguments>
            <argument name="metadataPool" xsi:type="object">Stub\MetadataPool</argument>
        </arguments>
    </type>
    <virtualType name="Stub\MetadataPool" type="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="catalog_category" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">catalog_category_entity</item>
                    <item name="eavEntityType" xsi:type="string">catalog_category</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                    <item name="entityContext" xsi:type="array">
                        <item name="store" xsi:type="string">Magento\SearchStorefrontStore\Model\StoreScopeProvider</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <preference for="Magento\SearchStorefront\DataProvider\Product\LayeredNavigation\LayerBuilderInterface"
            type="Magento\SearchStorefront\DataProvider\Product\LayeredNavigation\LayerBuilder"/>

    <type name="Magento\SearchStorefront\DataProvider\Product\LayeredNavigation\LayerBuilder">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="price_bucket" xsi:type="object">Magento\SearchStorefront\DataProvider\Product\LayeredNavigation\Builder\Price</item>
                <item name="category_bucket" xsi:type="object">Magento\SearchStorefront\DataProvider\Product\LayeredNavigation\Builder\Category</item>
                <item name="attribute_bucket" xsi:type="object">Magento\SearchStorefront\DataProvider\Product\LayeredNavigation\Builder\Attribute</item>
            </argument>
        </arguments>
    </type>

    <!-- configure pool of search criteria appliers for filters, sort orders, search phrase etc. -->
    <type name="Magento\SearchStorefront\DataProvider\Product\SearchCriteria\Builder\ApplierPool">
        <arguments>
            <argument name="searchCriteriaAppliers" xsi:type="array">
                <item name="phrase" xsi:type="object">Magento\SearchStorefront\DataProvider\Product\SearchCriteria\Builder\PhraseApplier</item>
                <item name="filters" xsi:type="object">Magento\SearchStorefront\DataProvider\Product\SearchCriteria\Builder\FilterApplier</item>
                <item name="request_name" xsi:type="object">Magento\SearchStorefront\DataProvider\Product\SearchCriteria\Builder\RequestTypeApplier</item>
                <item name="sort" xsi:type="object">Magento\SearchStorefront\DataProvider\Product\SearchCriteria\Builder\SortApplier</item>
                <item name="page_size" xsi:type="object">Magento\SearchStorefront\DataProvider\Product\SearchCriteria\Builder\PageApplier</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magento\SearchStorefront\DataProvider\Product\SearchCriteria\SearchCriteriaBuilderInterface"
            type="Magento\SearchStorefront\DataProvider\Product\SearchCriteria\Builder"/>

    <!-- scope resolvers replacements that are reading via direct sql -->
    <type name="Magento\Framework\Search\Request\Config\FilesystemReader">
        <plugin name="productAttributesDynamicFieldsForSearchService"  type="Magento\SearchStorefront\Plugin\Search\Request\ConfigReader" />
    </type>
    <type name="Magento\SearchStorefront\Model\Search\RequestGenerator\GeneratorResolver">
        <arguments>
            <argument name="defaultGenerator" xsi:type="object">\Magento\SearchStorefront\Model\Search\RequestGenerator\General</argument>
            <argument name="generators" xsi:type="array">
                <item name="decimal" xsi:type="object">Magento\SearchStorefront\Model\Search\RequestGenerator\Decimal</item>
            </argument>
        </arguments>
    </type>

    <!-- Set scope resolvers independent from monolith -->
    <type name="Magento\SearchStorefront\DataProvider\Product\SearchCriteria\Builder\RequestTypeApplier">
        <arguments>
            <argument name="scopeConfig" xsi:type="object">Stub\ScopeConfigInterface</argument>
        </arguments>
    </type>
    <virtualType name="Stub\ScopeConfigInterface" type="Magento\Framework\App\Config">
        <arguments>
            <argument name="scopeCodeResolver" xsi:type="object">Stub\ScopeCodeResolver</argument>
        </arguments>
    </virtualType>
    <virtualType name="Stub\ScopeCodeResolver" type="Magento\Framework\App\Config\ScopeCodeResolver">
        <arguments>
            <argument name="scopeResolverPool" xsi:type="object">Stub\ScopeResolverPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Stub\ScopeResolverPool" type="Magento\Framework\App\ScopeResolverPool">
        <arguments>
            <argument name="scopeResolvers" xsi:type="array">
                <item name="default" xsi:type="object">\Magento\Framework\App\ScopeResolver</item>
                <item name="store" xsi:type="object">Magento\SearchStorefrontStore\Model\Scope\Resolver\Store</item>
                <item name="stores" xsi:type="object">Magento\SearchStorefrontStore\Model\Scope\Resolver\Store</item>
                <item name="website" xsi:type="object">Magento\SearchStorefrontStore\Model\Scope\Resolver\Website</item>
                <item name="websites" xsi:type="object">Magento\SearchStorefrontStore\Model\Scope\Resolver\Website</item>
            </argument>
        </arguments>
    </virtualType>
</config>
