<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SearchStorefrontStore\App\Config\Type\Scopes">
        <arguments>
            <argument name="source" xsi:type="object">scopesConfigSourceAggregatedProxy</argument>
        </arguments>
    </type>
    <virtualType name="scopesConfigSourceAggregatedProxy"
                 type="Magento\Framework\App\Config\ConfigSourceAggregated\Proxy">
        <arguments>
            <argument name="instanceName" xsi:type="string">scopesConfigSourceAggregated</argument>
        </arguments>
    </virtualType>
    <virtualType name="scopesConfigSourceAggregated" type="Magento\Framework\App\Config\ConfigSourceAggregated">
        <arguments>
            <argument name="sources" xsi:type="array">
                <item name="initial" xsi:type="array">
                    <item name="source" xsi:type="object">scopesConfigInitialDataProvider</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
                <item name="runtime" xsi:type="array">
                    <item name="source" xsi:type="object">Magento\SearchStorefrontStore\App\Config\Source\RuntimeConfigSource</item>
                    <item name="sortOrder" xsi:type="string">0</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="scopesConfigInitialDataProvider" type="Magento\SearchStorefrontStore\App\Config\Source\InitialConfigSource">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Framework\App\DeploymentConfig\Reader</argument>
            <argument name="configType" xsi:type="const">Magento\SearchStorefrontStore\App\Config\Type\Scopes::CONFIG_TYPE</argument>
        </arguments>
    </virtualType>
    <preference for="Magento\SearchStorefrontStore\Model\StoreManagerInterface" type="Magento\SearchStorefrontStore\Model\StoreManager" />
    <preference for="Magento\SearchStorefrontStore\Model\StoreInterface" type="Magento\SearchStorefrontStore\Model\Store" />
</config>
