<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- //TODO remove -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <search>
                <engine>storefrontElasticsearch7</engine>
                <estorefrontElasticsearch7_server_hostname>localhost</estorefrontElasticsearch7_server_hostname>
                <estorefrontElasticsearch7_server_port>9200</estorefrontElasticsearch7_server_port>
                <estorefrontElasticsearch7_index_prefix>magento2</estorefrontElasticsearch7_index_prefix>
                <estorefrontElasticsearch7_enable_auth>0</estorefrontElasticsearch7_enable_auth>
                <estorefrontElasticsearch7_server_timeout>15</estorefrontElasticsearch7_server_timeout>
                <estorefrontElasticsearch7_minimum_should_match/>
            </search>
        </catalog>
    </default>
</config>
